:root {
    --color-white: #ffffff;
    --color-gray-100: #f3f6ff;
    --color-gray-200: #eff2fc;
    --color-gray-300: #e2e5f1;
    --color-gray-400: #d4d7e5;
    --color-gray-500: #b4b7c9;
    --color-gray-600: #9397ad;
    --color-gray-700: #565973;
    --color-gray-800: #33354D;
    --color-gray-900: #0b0f19;
    --color-black: #000000;
    --color-theme: #6366f1;
    --color-danger: #ef4444;
    --color-success: #22c55e;
    --color-warning: #ffba08;
    --color-info: #4c82f7;
    --color-danger-bg: #f5d7da;
    --facebook-blue: #316FF6;
    --twitter-blue: #1CA1F2;
    --youtube-red: #FF0000;
}


[data-theme='dark'] {
    --color-white: #0B0F19;
    --color-gray-100: #33354D;
    --color-gray-200: #565973;
    --color-gray-300: #9397AD;
    --color-gray-400: #B4B7C9;
    --color-gray-500: #D4D7E5;
    --color-gray-600: #E2E5F1;
    --color-gray-700: #EFF2FC;
    --color-gray-800: #F3F6FF;
    --color-gray-900: #FFFFFF;
    --color-black: #ffffff;
    --color-theme: #6366F1;
    --color-danger: #EF4444;
    --color-success: #22c55e;
    --font-manrope: "Manrope", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --facebook-blue: #316FF6;
    --twitter-blue: #1CA1F2;
    --youtube-red: #FF0000;
}