footer {
    margin: 20px;
    padding-bottom: 40px;

    .container {
        text-align: center;

        .social-media {
            display: none;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;

            @include md {
                display: flex;
            }
        }

        .copyright {
            font-size: 14px;
            width: 100%;
            color: var(--color-gray-600);

            @include lg {
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }

            span {
                display: none;

                @include xxl {
                    display: inline;
                    color: var(--color-gray-600);
                }
            }
        }
    }
}
