header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        gap: 40px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo nav sw account mobile";

        @include xl {
            grid-template-columns: auto 1fr auto auto;
        }



        .logo {
            grid-area: logo;
        }

        nav {
            grid-area: nav;
            display: none;
            gap: 20px;
            padding-top: 100px;
            z-index: 100;

            a {
                text-decoration: none;
                font-weight: 600;
                color: var(--color-gray-800);

                &:active,
                &.active,
                &:hover {
                    color: var(--color-theme);
                    text-decoration: underline;
                }
            }

            @include xl {
                display: flex;
                padding-top: 0;
            }

            &.active {
                display: block;
                background-color: black;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 101;
                opacity: 0.98;
            }

            a {
                display: block;
                color: white;
                text-align: center;
                padding: 20px;

                @include xl {
                    padding: 0 0 4px 0;
                    color: var(--color-gray-900);
                }
            }
        }

        .sign-mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            width: 200px;
            margin: auto;
            margin-top: 40px;

            @include xl {
                display: none;
            }

            i {
                padding-top: 3px;
            }
        }

        #signin-mobile {
            color: black;
            background-color: white;
        }

        #signin-mobile:hover {
            color: white;
            background-color: grey;
        }

        #signout-mobile {
            margin-top: 720px;
            color: white;
            background-color: var(--color-danger);
        }

        #signout-mobile:hover {
            color: var(--color-danger);
            background-color: black;
        }

        .label-text {
            color: var(--color-gray-700);
            padding: 0 20px;
        }



        .theme-switch {
            grid-area: sw;
            display: flex;
        }

        .account-buttons {
            grid-area: account;
            display: none;
            gap: 20px;

            @include xl {
                display: flex;
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;
            z-index: 102;
            color: var(--color-black);
            background-color: var(--color-gray-100);

            @include xl {
                display: none;
            }
        }
    }
}

.header-on-contact {
    background-color: var(--color-gray-100);
}
