.manage-section {
    padding: 100px 0;
}
.manage-content {

    @include xl {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 100px;
    }

    img {
        display: block;
        margin: 0 auto;
    }


    .text-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        text-align: center;

        @include xl {
            text-align: left;
        }
    }

    .text-area h1 {
        text-align: center;
        @include h2;
        margin: 0;

        @include xl {
            text-align: left;
            margin-right: 100px;
        }
    }


    .btn-theme {
        cursor: pointer;
        margin: 20px;

        @include xl {
            display: inline-flex;
            margin-right: 200px;

        }
    }

    .btn-theme i {
        margin-left: 10px;
        margin-top: 4px;
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-size: 16px;
        padding: 10px;
        color: var(--color-gray-700);
    }

    li i {
        color: var(--color-theme);
        padding-right: 10px;
    }
}
