.manage-content {

    @include xl {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: 100%;
        gap: 100px;
    }

    img {
        display: block;
        margin: 0 auto;
    }


    .text-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;

        @include md {
            text-align: center;
        }
    }

    h1 {
        @include md {
            text-align: center;
            font-size: 30px;
        }
    }


    .btn-theme {
        cursor: pointer;
        margin: 20px;
        @include lg {
        display: inline-flex;
        align-items: center;
        }
    }

    .btn-theme i {
        margin-left: 10px;
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-size: 16px;
        padding: 10px;
        color: var(--color-gray-700);
    }

    li i {
        color: var(--color-theme);
    }
}
