.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.manage-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 200px;
}

.manage-content .image {
    width: 50%;
    padding-left: 500px;
}

.manage-content .text-area {
    width: 50%;
    padding-left: 20px;
}

.manage-content .btn-theme {
    display: inline-flex;
    align-items: center;
}

.manage-content .btn-theme i {
    margin-left: 10px;
}

.manage-content .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.manage-content li {
    font-size: 16px;
    padding: 10px;
    color: var(--color-gray-700);
}

.manage-content li i {
    color: var(--color-theme);
}