<section class="device-section">
    <div class="container">
        <div class="devices-content">
            <img class="screens-img" src="~/images/devices/screens.svg" alt="" />
            <div class="devices-area">
                <h1>Download our App for Any Devices:</h1>
                <div class="ratings-box">
                    <div class="text-content">
                        <p class="store">App Store</p>
                        <img src="~/images/devices/rating.png" alt="" />
                        <h4>Editor's Choice</h4>
                        <p class="rating">Rating 4.7, 187K+ reviews</p>
                    </div>
                    <a asp-action="ErrorNotFound" asp-controller="Default"><img class="appstore" src="~/images/devices/appstore.svg" /></a>
                </div>
                <div class="ratings-box">
                    <div class="text-content">
                        <p class="store">Google Play</p>
                        <img src="~/images/devices/rating.png" alt="" />
                        <h4>App of the Day</h4>
                        <p class="rating">Rating 4.8, 30K+ reviews</p>
                    </div>
                    <a asp-action="ErrorNotFound" asp-controller="Default"><img class="playstore" src="~/images/devices/googleplay.svg" /></a>
                </div>
            </div>
        </div>
    </div>
</section>