<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-socialmedia facebook" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn-socialmedia twitter" href="https://twitter.com/home"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn-socialmedia instagram" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn-socialmedia youtube" href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p class="copyright">   
            &copy; @DateTime.Now.Year Silicon by Createx Studio. All rights reserved. <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus, orci nec luctus gravida, magna nulla tristique velit, sit amet tincidunt magna velit ac sapien. Nullam.
            </span>
        </p>
    </div>
</footer>