﻿@{
    var theme = Context.Request.Cookies["theme"] ?? "light";
    var isDarkMode = (theme == "dark") ? true : false;
}
@{
    var user = await UserManager.GetUserAsync(User);
}



<header class="@ViewData["HeaderClass"]">
    <div class="container">
        <a class="logo" asp-action="Home" asp-controller="Default">
            <img src="~/images/logos/@(isDarkMode ? "silicon-logo-dark.svg" : "silicon-logo.svg")" alt="Silicon" /></a>

        <nav>
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-action="Home" asp-controller="Default">Overview</a>
                <a asp-action="Index" asp-controller="Courses">Courses</a>
                <a asp-action="Contact" asp-controller="Auth">Contact</a>
                    <div class="profile">
                        <div class="image">
                            <a asp-action="Details" asp-controller="Account">
                                <img src="@Configuration["FilePath:ProfileImagePath"]/@user.ProfileImage " alt="profile-picture" />
                            </a>
                        </div>
                    </div>
                <a class="btn-theme btn-small sign-mobile" id="signout-mobile" asp-action="SignOut" asp-controller="Auth"><i class="fa-regular fa-user"></i>Sign Out</a>
            }
            else
            {
                <a asp-action="Home" asp-controller="Default">Overview</a>
                <a href="/#toolSection" id="featuresLink">Features</a>
                <a asp-action="Contact" asp-controller="Auth">Contact</a>
                <a class="btn-theme-secondary btn-small sign-mobile" id="signin-mobile" asp-action="SignIn" asp-controller="Auth"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a class="btn-theme btn-small sign-mobile" asp-action="SignUp" asp-controller="Auth"><i class="fa-regular fa-user"></i>Sign up</a>
            }
        </nav>

        <div class="account-buttons">
            @if (SignInManager.IsSignedIn(User) && user != null)
            {
                <div class="profile">
                    <div class="image">
                        <a asp-action="Details" asp-controller="Account">
                            <img src="@Configuration["FilePath:ProfileImagePath"]/@user.ProfileImage " alt="profile-picture" />
                        </a>
                    </div>
                </div>
            }
            else
            {
                <a class="btn-theme-secondary btn-small" asp-action="SignIn" asp-controller="Auth"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a class="btn-theme btn-small" asp-action="SignUp" asp-controller="Auth"><i class="fa-regular fa-user"></i>Sign up</a>
            }
        </div>
            <div class="theme-switch">
            <label class="label-text" for="switch-mode">Light</label>
            <label class="btn-switch">
                <input id="switch-mode" type="checkbox" checked="@isDarkMode">
                <span class="slider round"></span>
            </label>
            <label class="label-text" for="theme-switch-mode">Dark</label>
        </div>
            

        <button class="btn-mobile"><i class="fa-regular fa-bars"></i></button>

    </div>
</header>
<script src="~/js/header.js"></script>
