<section class="manage-section">
	<div class="container">
	<div class="manage-content">
		<img src="~/images/manage-work/manage-work.svg" />
		<div class="text-area">
			<h1>Manage Your Work</h1>
			<ul class="list">
					<li><i class="far fa-check-circle"></i>Powerful project management</li>
					<li><i class="far fa-check-circle"></i>Transparent work management</li>
					<li><i class="far fa-check-circle"></i>Manage work & focus on the most important tasks</li>
					<li><i class="far fa-check-circle"></i>Track your progress with interactive charts</li>
					<li><i class="far fa-check-circle"></i>Easiest way to track time spent on tasks</li>
			</ul>
			<a class="btn-theme">Learn more<i class="fa-solid fa-arrow-right"></i></a>
		</div>
	</div>
	</div>
</section>