
.btn-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: var(--color-gray-200);
    color: var(--color-gray-800);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}


    .facebook:hover {
    background-color: var(--facebook-blue);
    color: var(--color-gray-200);
    }
    .twitter:hover {
    background-color: var(--twitter-blue);
    color: var(--color-gray-200);
    }
    .youtube:hover {
    background-color: var(--youtube-red);
    color: var(--color-gray-200);
    }


    .btn-socialmedia.instagram {
    position: relative;
    overflow: hidden; 
    }

    .btn-socialmedia.instagram::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    border-radius: 8px; 
    z-index: 0;
    }

    .btn-socialmedia.instagram i,
    .btn-socialmedia.instagram svg {
    position: relative;
    z-index: 1; 
    }

    .btn-socialmedia.instagram:hover::before {
    opacity: 1;
    }

    .btn-socialmedia.instagram:hover {
    color: var(--color-gray-200); 
    }


    @mixin button {
    border: none;
    font-weight: 600;
    border-radius: 8px;
    padding: 16px 35px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    i {
        margin-right: 10px;
    }

    &:hover {
        color: var(--color-white);
        background-color: var(--color-gray-800);
        }
    }


.btn-theme {
    @include button;
    color: var(--color-white);
    background-color: var(--color-theme);
}

.btn-theme-secondary {
    @include button;
    color: var(--color-gray-800);
    background-color: var(--color-gray-200);
}


btn-small {
    padding: 12px 35px !important;
}

.btn-mobile {
    @include button;
    padding: 0;
    height: 50px;
    width: 55px;
    font-size: 22px;
    
    i {
        margin-right: 0;
    }
}



