form {
    display: grid;
    width: 100%;

    .input-label {
        font-weight: 600;
        padding: 2px 0;
        margin-top: 10px;
    }

    .input-group {
        position: relative;
        display: grid;

        a {
            color: var(--color-black);
            font-weight: 600;
        }
    }

    .checkbox-group {
        .input-group {
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }

    input, textarea, select {
        font-family: "manrope", sans-serif;
        font-size: 1em;
        font-weight: 400 !important;
        background-color: var(--color-gray-100);
        color: var(--color-grey-800);
        padding: 15px;
        border-radius: 8px;
        border: 1px solid var(--color-gray-500);

        &::placeholder {
            opacity: 0.5;
            color: var(--color-gray-700);
        }


        input[type=checkbox] {
            height: 20px;
            width: 20px;
            margin: 0;
        }
    }

    .field-validation-error {
        position: absolute;
        bottom: -25px;
        color: var(--color-danger);
        bottom: -25px;
        font-size: 0.9em;
        padding: 2px 0;
    }


    .input-validation-error {
        border: 1px solid var(--color-danger);
    }

    .field-valid {
        border: 1px solid var(--color-success);
    }

    .btn-theme {
        cursor: pointer;
        font-size: 1em;
        padding: 18px 30px;
    }

    a:visited {
        color: var(--color-black);
    }
}

.status-alert {
    color: red;
    background-color: #FFF1EB;
    margin-top: 15px;
    padding: 15px;
    border: solid 1px red;
    border-radius: 8px;
    text-align: center;
}



.boxcheck input[type="checkbox"] {
    display: none;
}


.boxcheck label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.boxcheck label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-gray-500);
    border-radius: 3px;
    background-color: var(--color-gray-100);
}

.boxcheck input[type="checkbox"]:checked + label::before {
    background-color: var(--color-theme);
    border: none;
}


.boxcheck label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}


.boxcheck input[type="checkbox"]:checked + label::after {
    display: block;
}


.select {
    position: relative;
    min-width: 300px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;


    .selected {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid var(--color-gray-400);
        cursor: pointer;
    }

    .select-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-400);
        z-index: 1000;

        .option {
            padding: 10px;
            cursor: pointer;
        }

        .option:hover {
            background-color: var(--color-gray-400);
        }
    }
}


.input-search-group {
    #searchQuery {
        background-color: var(--color-white);
        color: var(--color-black);
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid var(--color-gray-400);
        cursor: pointer;
    }
}