

.split-background {
    width: 100%;
    background: linear-gradient(to right, black 50%, white 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 100px 0;    
}

.split-background h1 {
    @include h1;
    margin-bottom: 50px;
}





.text-light {
    font-size: 16px;
    padding-left: 5px;
    @include md {
        @include h1;
        color: black;
        padding-left: 10px;
    }
}

.text-dark {
    font-size: 16px;
    color: white;
    padding-left: 10px;
    @include md {
        @include h1;
        color: white;
        padding-left: 20px;
    }
}

.computer-img {
    width: 60%;

    @include lg {
        width: 100%;
    }

    @include xl {
        width: 100%;
    }
}