.newsletter-section {
    background-color: var(--color-gray-100);
    padding: 100px 0;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            position: absolute;
            margin-left: 370px;
            margin-top: 30px;

            @include md {
                margin-top: 30px;
                margin-left: 560px;
            }

            @include lg {
                margin-top: 50px;
                margin-left: 560px;
            }
        }

        .input-label {
            margin-right: 200px;
            padding: 10px;
            width: 400px;

            @include md {
                width: 575px;
            }
        }
    }

    a:link {
        color: var(--color-gray-600);
        font-weight: 800;
    }
}


.newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a:visited {
        color: var(--color-black);
    }
}

.newsletter-header {
    display: flex;
    margin-bottom: 50px;

    @include md {
        margin-top: 0;
        margin-bottom: 20px;
        padding-right: 100px;
    }

    h1 {
        @include h1;
    }

    img {
        display: none;

        @include lg {
            display: inline;
            padding-left: 20px;
        }
    }
}

.newsletter-grid {
    display: flex;
    justify-content: center;

    h4 {

        @include h5;
        max-width: 120px;
        margin-right: 0;

        @include md {
            margin-right: 100px;
        }
    }
}

.newsletter-boxes {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    font-size: 10px;

    @include lg {
        font-size: 12px;
    }

    @include xl {
        font-size: 14px;
    }
}

.newsletter-box {
    padding: 3px;
}

.terms {
    font-size: 14px;
    color: var(--color-gray-600);
    padding-right: 350px;

    @include md {
        padding-right: 490px;
    }
}

#mail-icon {
    position: absolute;
    padding-left: 20px;
    padding-top: 24px;
    color: var(--color-gray-500);
}

.newsletter-box input[type="checkbox"] {
    display: none;
}


.newsletter-box label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.newsletter-box label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-gray-500);
    border-radius: 3px;
    background-color: var(--color-gray-100);
}

.newsletter-box input[type="checkbox"]:checked + label::before {
    background-color: var(--color-theme);
    border: none;
}


.newsletter-box label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}


.newsletter-box input[type="checkbox"]:checked + label::after {
    display: block;
}


.status-success {
    color: darkgreen;
    background-color: lightgreen;
    margin-top: 15px;
    padding: 15px;
    border: solid 1px green;
    border-radius: 8px;
    text-align: center;
}

.status-warning {
    color: darkgoldenrod;
    background-color: lightyellow;
    margin-top: 15px;
    padding: 15px;
    border: solid 1px goldenrod;
    border-radius: 8px;
    text-align: center;
}

.status-error {
    color: red;
    background-color: #FFF1EB;
    margin-top: 15px;
    padding: 15px;
    border: solid 1px red;
    border-radius: 8px;
    text-align: center;
}