﻿@{
    var theme = Context.Request.Cookies["theme"] ?? "light";
    var isDarkMode = (theme == "dark") ? true : false;
}
<section class="device-section">
    <div class="container">
        <div class="devices-content">
            <img class="screens-img" src="~/images/devices/screens.svg" alt="phone-devices" />
            <div class="devices-area">
                <h1>Download our App for Any Devices:</h1>
                <div class="ratings-box">
                    <div class="text-content">
                        <p class="store">App Store</p>
                        <img src="~/images/devices/rating.png" alt="star-ratings" />
                        <h4>Editor's Choice</h4>
                        <p class="rating">Rating 4.7, 187K+ reviews</p>
                    </div>
                    <a asp-action="Download" asp-controller="Default"><img class="appstore" src="~/images/devices/@(isDarkMode ? "appstore-dark.svg" : "appstore.svg")" /></a>
                </div>
                <div class="ratings-box">
                    <div class="text-content">
                        <p class="store">Google Play</p>
                        <img src="~/images/devices/rating.png" alt="star-ratings" />
                        <h4>App of the Day</h4>
                        <p class="rating">Rating 4.8, 30K+ reviews</p>
                    </div>
                    <a asp-action="Download" asp-controller="Default"><img class="playstore" src="~/images/devices/@(isDarkMode ? "googleplay-dark.svg" : "googleplay.svg")" /></a>
                </div>
            </div>
        </div>
    </div>
</section>