<section class="integrate-section">
    <div class="container">
        <div class="integrate-content">
            <div class="integrate-text">
                <h1>Integrate Top Work Tools</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
            </div>
                <div integrate-grid>
                    <div class="integrate-boxes">
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/Google.svg" alt="" />
                            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
                        </div>
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/Zoom.svg" alt="" />
                            <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
                        </div>
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/Slack.svg" alt="" />
                            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                        </div>
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/gmail.svg" alt="" />
                            <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
                        </div>
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/Trello.svg" alt="" />
                            <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
                        </div>
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/MailChimp.svg" alt="" />
                            <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                        </div>
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/Dropbox.svg" alt="" />
                            <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
                        </div>
                        <div class="integrate-box">
                            <img src="~/images/logos/integrate-logos/Evernote.svg" alt="" />
                            <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>