<section>
	<div class="split-background">
		<div class="split-content">
			<h1><span class="text-dark">Switch Between </span><span class="text-light">Light & Dark Mode</span></h1>
			<img class="computer-img" src="~/images/dark-light/darklightcomputer.svg" alt="Computer-Dark-Lightmode"/>
		</div>
	</div>
</section>