<section class="showcase">

    <div class="container">

        <div class="content">
            <h1>Task Management Assistant You're Gonna Love</h1>
            
            <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            
            <img class="showcase-hidden" src="~/images/manage-work/manage-work.svg" alt="Taskmaster-Mobile" />
          
            <a class="get-started btn-theme shadow-theme" asp-action="Index" asp-controller="Products">Get Started for free</a>

            <div class="brands">
                <h6>Largest companies use our tool to work efficiently</h6>
                <div class="brand-logos">
                    <img class="brand-logo" src="~/images/brands/brand-logo-1.svg" alt="Brand-logo-1" />
                    <img class="brand-logo" src="~/images/brands/brand-logo-2.svg" alt="Brand-logo-2" />
                    <img class="brand-logo" src="~/images/brands/brand-logo-3.svg" alt="Brand-logo-3" />
                    <img class="brand-logo" src="~/images/brands/brand-logo-4.svg" alt="Brand-logo-4" />
                </div>
            </div>
        </div>
        <img class="showcase-image" src="~/images/taskmaster/taskmaster-twisted.svg" alt="Taskmaster" />
       
    </div>
</section>