<section id="toolSection" class="tool-section"> 
    <div class="container">
        <div class="content">
            <div class="heading-text">
            <h1>What Do You Get With our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important</p>
            </div>
            <div class="tool-grid">
                <div class="tool-boxes">
                    <div class="tool-box" id="box1">
                        <img class="img-box tool-logo" src="~/images/logos/tool-logos/comment-logo.svg" alt="" />
                        <h3>Comments on Tasks</h3>
                        <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                        </div>
                    <div class="tool-box" id="box2">
                        <img class="img-box tool-logo" src="~/images/logos/tool-logos/analytics-logo.svg" alt="" />
                        <h3>Task Analytics</h3>
                        <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                        </div>
                    <div class="tool-box" id="box3">
                        <img class="img-box tool-logo" src="~/images/logos/tool-logos/mult-logo.svg" alt="" />
                        <h3>Multiple Assignees</h3>
                        <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                        </div>
                    <div class="tool-box tool-logo" id="box4">
                        <img class="img-box" src="~/images/logos/tool-logos/notification-logo.svg" alt="" />
                        <h3>Notifications</h3>
                        <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                        </div>
                    <div class="tool-box tool-logo" id="box5">
                        <img class="img-box" src="~/images/logos/tool-logos/sections-logo.svg" alt="" />
                        <h3>Sections & Subtasks</h3>
                        <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                        </div>
                    <div class="tool-box tool-logo" id="box6">
                        <img class="img-box" src="~/images/logos/tool-logos/security-logo.svg" alt="" />
                        <h3>Data Security</h3>
                        <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>