<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(!string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? ViewData["Title"] + " | Silicon" : "Silicon")</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script>
        window.onload = function () {
            const savedTheme = localStorage.getItem('theme') || 'light';
            document.body.setAttribute('data-theme', savedTheme);
        };
    </script>
</head>
<body>

    <div class="wrapper">
        <partial name="~/Views/Partials/Sections/_Header.cshtml" />
    
        <main>
            @RenderBody()
        </main>

        <partial name="~/Views/Partials/Sections/_Footer.cshtml" />
    </div>
    
    <script src="https://kit.fontawesome.com/a041cc045c.js" asp-append-version="true" crossorigin="anonymous"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRlHaYfkj9M-fLM_sRLsX7pmXGCYVRNGc&loading=async&callback=initMap" asp-append-version="true"></script>
    <script src="~/js/darkMode.js" asp-append-version="true"></script>
    <script src="~/js/featuresClick.js"></script>


</body>
</html>
