@{
    ViewData["Title"] = "Contact";
}

<section>
    <div class="container">
        <div class="direct-links">
            <a>Home</a>
            <a>Contact</a>
        </div>
        <div class="contact-text-area">
            <h1>Contact Us</h1>
            <div class="contact-content">
                <h4>Email us</h4>
                <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                <a>Leave a message</a>
            </div>
            <div class="contact-content">
                <h4>Careers</h4>
                <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                <a>Send an application</a>
            </div>
        </div>
        <div class="contact-form-container">
            <form></form>
        </div>
        <div class="maps-section">

        </div>
    </div>
</section>