@{
    ViewData["Title"] = "Contact";
}

<section class="contact-section">
    <div class="container">
        <div class="direct-links">
            <a asp-action="Home" asp-controller="Default"><i class="fa-sharp fa-regular fa-house"></i>Home</a>
            <i id="arrows" class="far fa-angle-double-right"></i>
            <a asp-action="Contact" asp-controller="Default">Contact</a>
        </div>
        <i class="fa-regular fa-envelope email-icon" id="contact-mail-icon"></i>
        <div class="contact-text-area">
            <h1>Contact Us</h1>
            <div class="contact-content">
                <h4>Email us</h4>
                <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                <a>Leave a message<i class="fa-regular fa-arrow-right"></i></a>
            </div>
            <i class="fa-regular fa-user-group" id="contact-careers-icon"></i>
            <div class="contact-content">
                <h4>Careers</h4>
                <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                <a>Send an application<i class="fa-regular fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="contact-form-container">
        <form>
            <h2>Get in Contact With Us</h2>
        </form>
    </div>
    <div class="maps-section">
        <img src="~/images/contact/maps-placeholder.svg" alt="" />
    </div>
</section>