<section class="account-profile">
	<div class="profile">
		<div class="image">
			<img src="" alt=""/>

		</div>
		<div class="info">
			<h3 class="displayname">John Doe</h3>
			<p>john.doe@domain.com</p>
		</div>
	</div>
</section>