@model AccountDetailsViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Details";
}

<section>
    <div class="container">
        <div class="forms-container">
            <h1>Account Details</h1>
                <form method="post" asp-controller="Account" asp-action="UpdateBasicInfo">
                <h3>Basic Info</h3>
                <div class="info-form">
                    <div class="input-group details-firstname">
                        <label asp-for="BasicInfo.FirstName"></label>
                        <input asp-for="BasicInfo.FirstName" />
                        <span asp-validation-for="BasicInfo.FirstName"></span>
                    </div>
                    <div class="input-group details-lastname">
                        <label asp-for="BasicInfo.LastName"></label>
                        <input asp-for="BasicInfo.LastName" />
                        <span asp-validation-for="BasicInfo.LastName"></span>
                    </div>
                    <div class="input-group details-email">
                        <label asp-for="BasicInfo.Email"></label>
                        <input asp-for="BasicInfo.Email" disabled />
                        <span asp-validation-for="BasicInfo.Email"></span>
                    </div>
                    <div class="input-group details-phone">
                        <label asp-for="BasicInfo.PhoneNumber"></label>
                        <input asp-for="BasicInfo.PhoneNumber" type="tel" pattern="[0-9]*" />
                        <span asp-validation-for="BasicInfo.PhoneNumber"></span>
                    </div>
                    <div class="input-group details-bio">
                        <label asp-for="BasicInfo.Biography"></label>
                        <textarea asp-for="BasicInfo.Biography"></textarea>
                        <span asp-validation-for="BasicInfo.Biography"></span>
                    </div>
                    <div>
                        <div class="button-container">
                        <button type="reset" class="btn btn-gray">Cancel</button>
                        <button type="submit" class="btn btn-small btn-theme" id="save-info">Save changes</button>
                        </div>
                    </div>
                    @if (TempData["StatusMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["StatusMessage"]
                        </div>
                    }
                    
                </div>
                </form>
               
        <form method="post" asp-controller="Account" asp-action="UpdateAddressInfo">
            <h3>Address</h3>
                <div class="address-form">
            <div class="input-group address-line-1">
                <label asp-for="AddressInfo.AddressLine_1"></label>
                <input asp-for="AddressInfo.AddressLine_1" />
                <span asp-validation-for="AddressInfo.AddressLine_1"></span>
            </div>
                    <div class="input-group address-line-2">
                <label asp-for="AddressInfo.AddressLine_2"></label>
                <input asp-for="AddressInfo.AddressLine_2" />
                <span asp-validation-for="AddressInfo.AddressLine_2"></span>
            </div>
                    <div class="input-group address-postalcode">
                <label asp-for="AddressInfo.PostalCode"></label>
                        <input asp-for="AddressInfo.PostalCode" type="text" pattern="[0-9]*" maxlength="5" />
                <span asp-validation-for="AddressInfo.PostalCode"></span>
            </div>
                    <div class="input-group address-city">
                <label asp-for="AddressInfo.City"></label>
                <input asp-for="AddressInfo.City" />
                <span asp-validation-for="AddressInfo.City"></span>
            </div>
            <div>
                <div class="button-container">
                <button type="reset" class="btn btn-gray">Cancel</button>
                            <button type="submit" class="btn btn-small btn-theme" id="save-address">Save changes</button>
                </div>
            </div>
                </div>
        </form>
        </div>
    </div>
</section>
<script></script>