.contact-section {
    background-color: var(--color-gray-100);

    .direct-links {
        padding-top: 30px;
        display: flex;
        gap: 20px;

        a {
            font-size: 14px;
            text-decoration: none;

            i {
                padding-right: 5px;
            }
        }

        a:nth-child(1) {
            color: var(--color-gray-600);
        }

        a:nth-child(3) {
            color: var(--color-theme);
        }

        #arrows {
            color: var(--color-gray-600);
            font-size: 12px;
            line-height: 1.7;
        }

        a:nth-child(1):hover {
            color: var(--color-theme);
        }

        a:nth-child(3):hover {
            color: var(--color-gray-600);
        }
    }

    #contact-mail-icon {
        display: inline;
        position: absolute;
        top: 290px;
        font-size: 20px;
        color: var(--color-theme);
        z-index: 100;
    }

    #contact-careers-icon {
        display: inline;
        position: absolute;
        top: 550px;
        font-size: 20px;
        color: var(--color-theme);
        z-index: 100;
    }

    .contact-text-area {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;




        @include lg {
            width: 300px;
        }


        @include xl {
            width: 500px;
        }

        h1 {
            @include h1;
        }

        .contact-content {
            padding: 50px;
        }

        h4 {
            font-size: 24px;
            font-weight: 900;
            padding-bottom: 15px;
        }

        p {
            color: var(--color-gray-700);
            padding-bottom: 50px;
        }

        a {
            color: var(--color-theme);
            font-weight: 600;

            i {
                margin-left: 10px;
            }
        }
    }

    .contact-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
        height: 830px;
        background-color: var(--color-white);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;


        @include lg {
            top: 130px;
            left: 400px;
            position: absolute;
        }

        @include xl {
            top: 130px;
            left: 600px;
            position: absolute;
        }

        @include xxl {
            position: absolute;
            top: 130px;
            left: 800px;
        }

        @include xxxl {
            position: absolute;
            top: 130px;
            left: 1200px;
        }




        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            h2 {
                margin-top: 50px;
                margin-right: 60px;
                font-size: 32px;
            }

            label {
                font-weight: 700;
                padding-bottom: 3px;
            }

            .optional {
                color: var(--color-gray-600);
            }

            .input-group {
                width: 400px;
                margin-top: 25px;
            }

            textarea {
                resize: none;
            }

            button {
                font-size: 14px;
                font-weight: 500;
                border-radius: 8px;
                padding: 16px 35px;
                margin-top: 30px;
            }
        }
    }

    .maps-section {
        #map {
            height: 700px;
            width: 100%;
        }
    }
}
