@{
    ViewData["Title"] = "Contact";
    @model WebApp.Models.ContactViewModel
}

<section class="contact-section">
    <div class="container">
        <div class="direct-links">
            <a asp-action="Home" asp-controller="Default"><i class="fa-sharp fa-regular fa-house"></i>Home</a>
            <i id="arrows" class="far fa-angle-double-right"></i>
            <a asp-action="Contact" asp-controller="Default">Contact</a>
        </div>
        <i class="fa-regular fa-envelope email-icon" id="contact-mail-icon"></i>
        <div class="contact-text-area">
            <h1>Contact Us</h1>
            <div class="contact-content">
                <h4>Email us</h4>
                <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                <a href="javascript:void(0);" onclick="focusOnFullName();">Leave a message<i class="fa-regular fa-arrow-right"></i></a>
            </div>
            <i class="fa-regular fa-user-group" id="contact-careers-icon"></i>
            <div class="contact-content">
                <h4>Careers</h4>
                <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                <a href="javascript:void(0);" onclick="focusOnFullName();">Send an application<i class="fa-regular fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="contact-form-container">
        <form method="post" asp-controller="Auth" asp-action="Contact">
            <h2>Get in Contact With Us</h2>
            <div contact-form-content>
                <div class="input-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" id="fullNameInput" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label asp-for="SelectedService">Service<span class="optional"> (optional)</span></label>
                    <select asp-for="SelectedService" class="form-control">
                        <option>Choose the service you are interested in</option>
                        <option value="Service1">Service 1</option>
                        <option value="Service2">Service 2</option>
                        <option value="Service3">Service 3</option>
                    </select>
                    <span asp-validation-for="SelectedService" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Message"></label>
                    <textarea rows="7" cols="15" asp-for="Message" class="form-control"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <button type="submit" class="btn-theme shadow-theme">Send Contact Request</button>
            </div>
        </form>
    </div>
    <div class="maps-section">
        <div id="map">

        </div>
    </div>
</section>
<script src="~/js/googleMaps.js"></script>